name: Run checkstyle

on: 
  push:
    branches:
      - main

jobs:
  run-checkstyle:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Maven
        run: mvn clean install
  
      - name: Run Checkstyle
        run: mvn checkstyle:check
  
      - name: Run tests
        run: mvn test